@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 16pt;
}

#game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: lightgrey;
    border-style: solid;
    border-color: black;
}

#settings {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: blanchedalmond;
    min-width: 480px;
}

#soundSettings {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
}

#soundSettings label {
    width: 32px;
    height: 32px;
    background-size: 100% 100%;
}

#soundSettings input:checked + label {
    background-image: url("resources/images/speaker-icon.png");
}

#soundSettings input:not(:checked) + label {
    background-image: url("resources/images/crossed-speaker-icon.png");
}

#soundSettings input {
    display: none;
}

#gameInfo {
    display: flex;
    flex-direction: column;
    height: 64px;
    align-items: center;
    justify-content: center;
    background-color: greenyellow;
}

#difficultySettings {
    display: flex;
    flex-direction: column;
    width: 100px;
    text-align: center;
}

#difficultySettings input {
    display: none;
}

#difficultySettings input + label:hover {
    background-color: darkseagreen;
}

#difficultySettings input:checked + label {
    background-color: orange;
}

#mineBoard {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mineBoard > div {
    display: flex;
    flex-direction: row;
}

#mineBoard > div > div {
    width: 24px;
    height: 24px;
    background-color: aquamarine;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

#mineBoard > div > div:hover {
    background-color: darkseagreen;
}

#mineBoard div.marked {
    background-image: url("resources/images/flag.png");
    background-size: 100% 100%
}

#mineBoard div.wrongly-marked {
    background-image: url("resources/images/crossed-flag.png");
    background-size: 100% 100%
}

#mineBoard div.uncovered {
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mineBoard div.uncovered.mine {
    background-image: url("resources/images/mine.png");
    background-size: 80% 80%;
    background-repeat: no-repeat;
    background-position: center;
}

#newGameBtn {
    width: 164px;
    height: 64px;
    font-family: Nunito;
    font-size: 16pt;
    font-weight: bold;
    background-color: lightgreen;
}

#mineBoard.shake {
    animation: shake 0.1s 20;
}

@keyframes shake {
    0% {
        margin-top: 0;
    }
    50% {
        margin-top: 2px;
    }
    100% {
        margin-top: 0;
    }
}